<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <a ui-sref="units" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">voltar</a>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            <form method="post" class="mdl-grid">
                <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--4-col-phone mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1" ng-model="room.name">
                    <label class="mdl-textfield__label" for="sample1">Nome sala</label>
                </div>
                <div class="mdl-cell mdl-cell--1-col mdl-cell--4-col-phone" align="right">
                    <button class=" mdl-button mdl-js-button mdl-button--raised mdl-button--colored " ng-click="addRoom(room)">
                        Adicinar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">name</th>
                <th>quantidade alunos</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in rooms|filter: unitId|orderBy: 'name'">
                <td class="mdl-data-table__cell--non-numeric">{{room.name}}</td>
                <td>{{(students|filter: room._id).length}}</td>
                <td>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="deleteRoom(room)">
                        remover
                    </button>
                    <a ui-sref="student({unitId: room._unit._id, roomId: room._id})" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">adicionar alunos</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
